.formulario{
    margin-left: 900px;
    width: 40%;
    height:20px;
    margin-top: 30px;
    
}
.card-text{
    text-align: justify;
    text-align: center;

}
.card-body button{
    margin-left: 85px;
}
.tresD{
    margin-top: -50px;
    width: 950px;
    height: 960px;
    margin-left: -80px;
}
.container{
    margin-top: 10px;
}
body{
    background-image: url(../imagen/18.webp) ;
    background-repeat: no-repeat;
    background-size: cover;
}
.container-fluid{
    background-color: rgb(165,125,66);
    
    
}
.nav-link{
    color: rgb(221,203,153);
}
img{
    width: 5%;
    height: 5%;
}

